{%  load static %}
<!DOCTYPE html>
 <html> 
<head> 
<title> MOVIE REVIEW </title> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type = "text.css" href = "{% static 'oysreview/oysreview.css' %}">
</head> 
<body> 
<div class='jumbotron'> 
<h1>Movie Reviews</h1>
 </div> 
   <nav class="navbar navbar-default"> 
   <div class="container-fluid">
<div class="navbar-header"> 
<a class="navbar-brand" href="{% url 'index' %}">Movie Review</a> 
</div> 
<ul class="nav navbar-nav"> 
<li><a href = "{% url 'movies' %}"> Movies</a></li>
<li>Dummy</li> 
</ul> 
</div> 
</nav> 
<div class="container-fluid"> 
{% block content %} 

{% endblock content %} 
</div> 
</body> 
</html>